@{
    ViewData["Title"] = "About Us";
}

<h2>"Meet The Team Group 8"</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="~/images/Akshitha.jpeg" alt="Akshitha" height="280" width="250" /><br />
        <div class="container">
            <h2>Akshitha Reddy Mallipeddi</h2>
            <p class="title">Web developer</p>
            <p>Involved in building the layout and the chart page.</p>
            <p>amallipeddi@usf.edu</p>

        </div>
    </div>
    <div class="col-md-4">
        <img src="~/images/Ankit.jpeg" alt="Ankit" height="280" width="250" /><br />
        <div class="container">
            <h2>Ankit Raj</h2>
            <p class="title">Web developer</p>
            <p>Involved in developing the Home and Incidents page.</p>
            <p>ankitraj@usf.edu</p>

        </div>
    </div>
    <div class="col-md-4">
        <img src="~/images/Pranjal.jpeg" alt="Pranjal" height="280" width="200" /><br />
        <div class="container">
            <h2>Pranjal Shrivastava</h2>
            <p class="title">Web developer</p>
            <p>Involved in design and developing the About Us page.</</p>
            <p>pranjals@usf.edu</p>
        </div>
    </div>

</div>