@{
    ViewData["Title"] = "About Us";
}

<h3 align="center">
    <b>
        <span style="color:darkolivegreen;">
            UNIVERSITY OF SOUTH FLORIDA
            <p>
            </p>
                <span style="color:black;">
                    Meet The Team : Group 8
                </span>
        </span>
    </b>
</h3>
<hr />


<div class="row">
    <div class="col-md-4">
        <img src="~/images/Akshitha.jpeg" alt="Akshitha" height="280" width="250" style="border:5px solid black" /><br />
        <div class="container">
            <p>
            </p>
            <h4>Akshitha Reddy Mallipeddi</h4>
            <p class="title">Web developer</p>
            <p>Involved in building the layout, reading and displaying from the API, the chart page. Deployed the application to Azure Cloud. Worked for more than a week to get the app working. </p>
            <p>Email: amallipeddi@usf.edu</p>
            <p><a href="https://www.linkedin.com/in/akshitha-reddy-1460a98/">Linkedln</a></p>

        </div>
    </div>
    <div class="col-md-4">
        <img src="~/images/Ankit.jpeg" alt="Ankit" height="280" width="250" style="border:5px solid black" /><br />
        <div class="container">
            <p>

            </p>
            <h4>Ankit Raj</h4>

            <p class="title">Web developer</p>
            <p>Involved in creating the database design, database models. Creating and deploying to database to Cloud server. Worked for more than a week to design and create the app.</p>
            <p>Email: ankitraj@usf.edu</p>
            <p><a href="https://www.linkedin.com/in/ankitraj06/">Linkedln</a></p>

        </div>
    </div>
    <div class="col-md-4">
        <img src="~/images/Pranjal.jpeg" alt="Pranjal" height="280" width="250" style="border:5px solid black" /><br />
        <div class="container">
            <p>

            </p>
            <h4>Pranjal Shrivastava</h4>

            <p class="title">Web developer</p>
            <p>Involved in adding CRUD operations in the Incident details page and developing the About Us page. Worked for more than a week to design and create the app.</p>
            <p>Email: pranjals@usf.edu</p>
            <p><a href="https://www.linkedin.com/in/pranjal-shrivastava14">Linkedln</a></p>
        </div>
    </div>
</div>
<div align="center">
    <h2 class="erTitle">GitHub Link for project</h2>
    <p style="color:blue;">
        <a href="https://github.com/akshithamallipeddi/HawaiiCrimeDetails">GitHub Link</a>
    </p>
</div>
