@{
    ViewData["Title"] = "Home Page";
}
<h2>
    <b>
        Crime Management System
    </b>
</h2>
<div>
    <p>
        <span class="tab"></span>This application provides the data of crime rates in Hawaii through Crime department via their public <a href="https://crime-data-explorer.fr.cloud.gov/api">API</a>.
        The Crime Data Explorer is a website that allows law enforcement and the general public to more easily access Uniform Crime Reporting (UCR) data. Over 18,000 city,
        university and college, county, state, tribal, and federal law enforcement agencies voluntarily report crime data to the program, and the FBI publishes it in annual
        reports.
    </p>
    <br />
    <p>
        <b> This application provides the following details:</b>
    </p>
    <p>
        <b>
            <a asp-area="" asp-controller="Home" asp-action="Incidents">Incidents</a>
        </b>: This tab fetches data of crime incidents reported by FBI. It provides the
        count of reported crimes offenses by type using data from
        <a href="https://crime-data-explorer.fr.cloud.gov/api">Crime Data Explorer API </a> .
        The Data consists of CM (Crime management) ID, CM Agency, Type of Crime, Date it occured along with block address.
        This data is saved in Azure cloud database. CRUD operations can be performed in this master-detail page.
    </p>
    <p>
        <b>
            <a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a>
        </b>: This tab gives interactive pie chart of the rate of crime by type by fetching data from <a href="https://crime-data-explorer.fr.cloud.gov/api">Crime Data Explorer API</a>.
    </p>
    <p>
        <b>
            <a asp-area="" asp-controller="Home" asp-action="AboutUs">AboutUs</a>
        </b>:To know more about the development team, Please check this <a asp-area="" asp-controller="Home" asp-action="AboutUs">page</a>.
    </p>
    <br />
</div>
<div>
    <p>
        <b> Following learning objectives are fulfilled in this application -</b>
        <ul>
            <li>Connection to API and saving it in database.</li>
            <li>Database design and use.</li>
            <li>Master-detail relationship.</li>
            <li>CRUD operations.</li>
            <li>Chart View</li>
            <li>Details about the developers.</li>
        </ul>
    </p>
</div>

<br />
<div>
    <b>
        Application capabilities
    </b>
    <p>
        <span>
            <span class="tab">
            </span>This application with the help of chart page and incident page gives a picture of which type of crime is on the rise which will assist the police department and government in taking preliminary steps of finding the cause of crime and take actions on it accordingly.
            Along with this, using this application, the police department and government can work together to monitor the area where the crime rate is high, this will allow them to appoint aditional police force in such areas to curb the Criminal activities. Also government can invest into installing survelliance cameras in such areas.
            Since this application can be updated with latest crime activity in the area, the data will always be current and easily accessible here.
        </span>
    </p>
    <p>
        <span>
            <span class="tab">
            </span>
            When it comes to violent crime including murder, rape, aggravated assault, and robbery, Hawaii is the 38th most dangerous state with 259.2 violent crimes per
            100,000 people.
        </span>
    </p>
    <p>
        <span>
            <span class="tab">
            </span>
            It is important to note that crime rates are based on the number of crimes per 100,000 residents. The resident population encompasses the number of people whose usual place of residence is in an area. It includes military personnel stationed in the area and residents temporarily absent, but excludes visitors. The FBI uses resident population to determine crime rates for all states for comparison purposes.
            However, due to Hawaii’s high visitor population at any given time, the crime rate would be more accurate for Hawaii if de facto population was used to calculate crime rates. De facto population includes the number of people physically present in the state: residents, tourists, and non-resident military personnel. Considering Hawaii’s relatively small resident population and large visitor population,
            the crime rates are skewed to be higher since population is based on residents and doesn’t factor in visitors.
        </span>
    </p>
    <br />
</div>